# Database Configuration (for Docker Compose)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=1mWL!8qU%_I(si@4Hyvo3txPo3@q3FF+9!e#K44^
DB_HOST=db
DB_PORT=5432

# Django Configuration
SECRET_KEY=tfu9y@exp6tdda$%f_+u&o80jd!%ld5@y=iua)$176x5bf(aut
DEBUG=False
ALLOWED_HOSTS=158.255.74.123,indexo.ir,www.indexo.ir,multivendor-backend.indexo.ir,multivendor-frontend.indexo.ir

# CORS Configuration
CORS_ALLOWED_ORIGINS=https://indexo.ir,https://www.indexo.ir,https://multivendor-frontend.indexo.ir,http://158.255.74.123
CORS_ALLOW_ALL_ORIGINS=False

# Domain Configuration (for SSL)
DOMAIN=indexo.ir
EMAIL=your-email@example.com

# Zibal Payment Gateway
ZIBAL_MERCHANT=zibal
SITE_URL=https://indexo.ir

# Kavenegar SMS Gateway
KAVENEGAR_API_KEY=your-kavenegar-api-key-here
KAVENEGAR_SENDER=10004346
KAVENEGAR_PATTERN_ID=your-pattern-id-here