# Staging Environment Variables Template
# Copy this to .env.staging and update values as needed

# The public URL for media files, used by Django to generate correct links for the browser

# --- DATABASE ---
DB_NAME=multivendor_db
DB_USER=postgres
# REPLACE THIS with your strong password
DB_PASSWORD=1mWL!8qU%_I(si@4Hyvo3txPo3@q3FF+9!e#K44^
DB_HOST=db
DB_PORT=5432

# --- REDIS ---
REDIS_HOST=redis
REDIS_PORT=6379

# --- BACKEND ---
# REPLACE THIS with your Django secret key
SECRET_KEY=django-insecure-change-me-now!
DEBUG=False
# Comma separated hosts - UPDATED FOR STAGING
ALLOWED_HOSTS=localhost,127.0.0.1,backend,frontend,staging.indexo.ir,api.staging.indexo.ir,www.staging.indexo.ir,46.249.101.84


# --- FRONTEND ---
NODE_ENV=production
NUXT_HOST=0.0.0.0
NUXT_PORT=3000
# UPDATED FOR STAGING API URL
NUXT_PUBLIC_API_BASE=https://api.staging.indexo.ir/api

